*{
    box-sizing: border-box;
}

.beiruti{
  font-family: "Beiruti", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal; 
  padding:0;
  margin:0;
}

html{
  display: block;
  position: relative;
  min-height: 100%;
}

body{
  min-height: 100%;
  margin:0;
  display: block;
}

.site-container{
  display: flex;
  flex-direction: column; 
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
}

div{
  display: block;
}

/* HEADER */

header{
  display: grid;
  gap: 20px;
  width: 100%;
  grid-template-columns: 15% 65% 20% ;

  /* position: relative; */
}

.logo-container{
  display: inline-flex;
  /* float: left; */
  justify-content: start;
  max-width: 100%;
  padding: 35px 0% 0px 0%;
}

.logo{
  width: 100%;
  font-family: ;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}

.logo a{
  text-decoration: none;
  color: #000000;
}

.contact-container{
  display: inline-flex;
  justify-content: center;
  max-width: 100%;
  line-height: 22px;
  padding: 35px 0% 0px 0%;
}

.contact-container-logos{
  display: flex;
  flex-wrap:wrap;
  max-width: 100%;
  gap: 20px;
}

.contact-container-logos a img{
  width: 25px;
}

.nav-container{
  display: flex;
  justify-content: end;
  max-width: 100%;

}

.nav-container-titles{
  display:flex;
  flex-wrap: wrap;
  justify-content: end;
  padding: 35px 0 0 0;
  max-width: 100%;
}

nav .cv-title{
  display: inline-block;
  padding-left: 0px;
  padding-right: 0px;
  /* vertical-align: middle; */
}

nav .cv-title .active{
  color:#000000;
  font-style: normal;
  font-weight: 500;
  
}

nav .cv-title a{
  font-family: ;
  font-size: 1.6rem;
  line-height: 22px;
  text-decoration: none;
  color:#000000;
  font-weight: 300;
}


nav .portfolio-title{
  display: inline-block;
  padding-left: 20px;
  
  /* vertical-align: middle; */
}

nav .portfolio-title a{
  font-family: ;
  font-size: 1.6rem;
  line-height: 22px;
  color:#000000;
  font-style: normal;
  font-weight: 300;
  text-decoration: none;
}

nav .contact-title{
  display: inline-block;
  padding-left: 20px;
}

nav .contact-title a{
  font-family: ;
  font-size: 1.6rem;
  line-height: 22px;
  color:#000000;
  font-style: normal;
  font-weight: 300;
  text-decoration: none;
}

nav .dropDown{
  display: inline-block;
  padding-left: 20px;
}

nav .dropBtn{
  border: none;
  background: none;
  font-family: ;
  font-size: 1.6rem;
  line-height: 22px;
  color:#000000;
  font-style: normal;
  font-weight: 300;
  text-decoration: none;
}

nav .dropDown a{
  position: relative;
  display: inline-block;
  font-family: ;
  font-size: 1.6rem;
  line-height: 22px;
  color:#000000;
  font-style: normal;
  font-weight: 300;
  text-decoration: none;
  padding-top: 10px;
}

nav .dropContent{
  position:absolute;
  display: none;
  z-index: 1;
}
.dropDown:hover .dropContent{
  display: block;
}

.dropDown:hover .dropBtn{
  background: none ;
}

.dropContent a:hover{
  background: none ;
}


/* MAIN */


main{
  display: block;
  position: relative;
}

section{
  display: block;
}

.work-experience{
  margin: 25px 0 25px 0;
}
.site-main{
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 25px;
  margin-left: auto;
  margin-right: auto;
  max-width: 70%;
}

.site-main-ct{
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.site-main-text{
  margin: 25px 0 25px 0;
  /* text-align: justify;
  text-align-last: center; */
  text-align: center;
  font-size: 1.6rem;

}

.site-main .about{
  margin-top: 50px;
}

h2{
  margin: 0;
  font-weight: 700;
}

.exp-grid{
  display: grid;
  grid-template-columns: 1fr 0.5fr 1.5fr;
  grid-template-rows: auto;
  grid-auto-rows: auto;
  margin-top: 25px;
  gap: 10px;
}

.grid-left{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  height: 100%;
}

.grid-left-year p{
  font-size: 2rem;
  margin: 0;
}

.grid-mid p{
  margin: 5px 0 0 0;
}

.grid-right{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.grid-right-company p{
  font-size: 2rem;
  margin: 0;
}
.grid-right-title p{
  font-size: 1.6rem;
  margin: 0;
  text-align: left;
}

.education{
  margin: 25px 0 25px 0;
}
/* CONTACT */
.contact{
  margin: 25px 0 25px 0;
}

.footer-contact{
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
  margin: 25px 0 50px 0;
}

.footer-contact-logo{
  display: flex;
  gap: 30px;
  justify-content: center;
}

.footer-contact-logo a img{
  width: 50px;
}

.footer-contact-mail p{
  text-align: center;
  font-size: 2rem;
  text-decoration: none;
  margin: 0;
}

/* FOOTER */

footer{
  display: block;
  position: relative;
}

.back-to-top{
  display: flex;
  justify-content: end;
  margin: 25px 0 100px 0;
}

.arrow-backToTop{
  text-decoration: none;
  font-size: 25px;
}

